body {
    font-size: 18px;
    font-family: consolas;
}

.game-area {
    background-color: lightskyblue;
    width: 100%;
    height: 93vh;
    margin: 0;
}

.game-start {
    position: absolute;
    width: 50%;
    left: 25%;
    top: 100px;
    text-align: center;
    background-color: greenyellow;
    padding: 30px;
}

.game-score {
    background-color: black;
    color: white;
    text-align: center;
}

.hide {
    display: none;
}